<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.8.0" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService" version="3.1.1.0" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.1.0.11" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="Moq" version="4.5.10" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net461" />
</packages>