<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AWSProfileName" value="SQS_test" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog31">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.SQS" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.Core" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" layout="[${date:format=HH\:MM\:ss}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger:shortName=true}] ${message}" />
      <target name="mainLog" xsi:type="File" layout="[${date:format=HH\:MM\:ss}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger:shortName=true}] ${message}" fileName="Logs/${shortdate}.log" />
      <target name="messageLog" xsi:type="File" layout="[${date:format=HH\:MM\:ss}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger:shortName=true}] ${message}" fileName="Logs/${shortdate}_messages.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="JungleBus.MessageLogger.*" minlevel="Debug" writeTo="messageLog" final="true" />
      <logger name="*" minlevel="Debug" writeTo="mainLog" />
    </rules>
  </nlog>
</configuration>
